

hgroup h2, #about h3{
    display: none;
}
#about p{
    width: 60%;
    opacity: 0.5;
    border-radius: border-box;
    padding-left: 10px;
}
body > div{
    margin-left: 100px;
    margin-right: 100px;
} 
hgroup h1{
    border-bottom: 1px rgb(182, 171, 171) solid;
    box-sizing: border-box;
    padding: 10px;
    
}

div img{
    position: absolute;
    top: 40px;
    right: 150px; 
    width: 15%;
    transform: rotate(-10deg);
    
    
}



#competencies{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr 1fr;
    
    grid-template-areas: "header content"
                         "header advert";
 
   
}
#competencies h3{
    grid-row:1/3 ;
    position: relative;
    bottom: 20px;
   
}
.skills{
    border-left: 1px solid black;
    padding-bottom: 10px;
    padding-left: 20px;
  
}
.skills-primary{
    display: flex;
    width: 100%;
    border: 1px red slid;
}
.skills-secondary{
    display: flex;    
}

.skills-primary  div {
    background-color: cornflowerblue;
    font-size: larger;  
    width: 20%;
    margin: 4px;
    padding: 8px 0px 8px 5px;
}
.skills-secondary div {
    background-color: cornflowerblue;
    font-size: smaller;  
    width: 20.5%;
    margin: 4px;
    padding: 8px 0px 8px 5px;
    
}


.experience-institution, .contact-type, .contact-value, .contact-skype, #contact h3{
    display: none;
}

#education{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr 1fr;
    
}

#experiences{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr 1fr;
    
    
}

#experiences h3{
    grid-row:1/3 ;
    border-right: 1px black solid;
}

#education h3{
    grid-row:1/3 ;
    border-right: 1px black solid;
}
#hobbies h3{
    border-right: 1px black solid;
}

#hobbies{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 120px;
    

}
.experience-description, .experience-type{
    padding-left: 10px;
       
}
.experience-type{
    color: cadetblue;
}
.experience-details{
    text-align: end;
    position: relative;
    bottom:40px; 
    opacity: 0.5;    
}
#about{
    padding-bottom: 100px;
}



[data-skill="5"] span::after{
    content: "\2605\2605\2605";
    float: right;
    padding-right: 5px;
    color: white;
    
    
}

[data-skill="3"] span::after{
    content: "\2605\2605";
    padding-right: 5px;
    float: right;
    color: white;
    
}
[data-skill="1"] span::after{
    content: "\2605";
    float:right;
    padding-right: 5px;
    color: white;
  
   
}


[data-skill="9"] span::after{
    content: "\2605\2605\2605\2605\2605";
    padding-right: 5px;
    float:right;
    color: white;
    
    
}
[data-skill="7"] span::after{
    content: "\2605\2605\2605\2605";
    padding-right: 5px;
    float:right;
    color: white;
    

}


.contact-email{
    background: url(../images/email.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
   height: 100px;
   margin-left: 150px;
}
.contact-phone{
    
    background: url(../images/phone.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 100px;
   
}
.contact-github{
    background: url(../images/github.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 30%;
} 
.contact-facebook{
    background: url(../images/facebook.png) ;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    margin-right: 150px;
}

.contacts{
    display: flex;
    justify-content: center;

    margin-left: 20px;
}

@media(max-width:450px){
    figure{
    display: none;
    }
    #about p{
    width: 100%;
    }
    body > div{
    margin-left: 0px;
    margin-right: 0px;
    }
    #education{
    display: grid;
    grid-template-columns: 1fr; 
    }
    #experiences{
    display: grid;
    grid-template-columns: 1fr;
    }
    #experiences h3{
    grid-row:1/3 ;
    border-bottom: 1px black solid;
    border-right: unset;
    width: 150px;
    }
    #education h3{
    width: 150px;
    grid-row:1/3 ;
    border-bottom: 1px black solid;
    border-right: unset;
    }
    #hobbies{
    grid-template-columns: 1fr;
    }
    #hobbies h3{
    border-bottom: 1px black solid;
    border-right: unset;
    width: 150px;
    height: 25px;
    }
    #competencies{
    display: unset;
    }
    #hobbies ul{
    margin-top: -50px; 
    }
    #competencies h3{
    border-bottom: 1px black solid;
    width: 150px;
    }
    .skills-primary div {
    background-color: cornflowerblue;
    font-size: larger;
    width: 30%;
    margin: 4px;
    padding: 8px 0px 8px 5px;
    }
    .skills-secondary div {
    background-color: cornflowerblue;
    font-size: smaller;
    width: 35%;
    margin: 4px;
    /* padding: 8px 0px 8px 5px; */
    }
    .contacts{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    }
    .skills{
    border-left: unset;
    }
    .contact-email{
    margin-left: unset;
    }
    .contact-facebook{
    margin-right: unset;
    }
    
    }
    

